@import "tailwindcss";

body {
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
}

header {
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
}

.os-scrollbar-handle {
  background: rgba(255,255,255,0.5) !important;
  border-radius: 8px !important;
}

.os-scrollbar-handle:hover {
  background: rgba(255,255,255,0.7) !important;
}
.os-scrollbar {
  --os-size: 12px;
}
.os-viewport {
  scroll-behavior: smooth;
}