@import "tailwindcss";

body {
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
}

header {
  font-family: var(--font-poppins), Helvetica, Arial, sans-serif;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* hidden by default */
    transition: scrollbar-color 0.3s ease;
  }

  *:hover {
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }

  *::-webkit-scrollbar {
    width: 1.25rem;
    height: 1.25rem;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: transparent; /* hidden by default */
    transition: background 0.3s ease;
  }
  *:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
  }
  *:hover::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  *::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
}
